<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Calcul_Expedition>
            <version>0.1.0</version>
        </Calcul_Expedition>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view_info>Calcul_Expedition_Block_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>

            <sales>
                <rewrite>
                    <order_info>Calcul_Expedition_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
        </blocks>

        <models>
            <calcul_expedition>
                <class>Calcul_Expedition_Model</class>
                <resourceModel>calcul_expedition_resource</resourceModel>
            </calcul_expedition>
            <calcul_expedition_resource>
                <class>Calcul_Expedition_Model_Resource</class>
                <entities>
                    <expedition>
                        <table>calcul_expedition</table>
                    </expedition>
                </entities>
            </calcul_expedition_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <marouteperso>
                <use>standard</use>
                <args>
                    <module>Calcul_Expedition</module>
                    <frontName>expedition</frontName>
                </args>
            </marouteperso>
        </routers>
        <layout>
            <updates>
                <marouteperso>
                    <file>calcul_expedition.xml</file>
                </marouteperso>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <marouteadmin>
                <use>admin</use>
                <args>
                    <module>Calcul_Expeditionadmin</module>
                    <frontName>adminhelloworld</frontName>
                </args>
            </marouteadmin>
        </routers>
        <layout>
            <updates>
                <marouteadmin>
                    <file>calcul_expeditionadmin.xml</file>
                </marouteadmin>
            </updates>
        </layout>
    </admin>


    <!--<adminhtml>
        <layout>
            <updates>
                <adminexpedition>
                    <file>adminexpedition.xml</file>
                </adminexpedition>
            </updates>
        </layout>
    </adminhtml>-->
</config>