<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Calcul_Expedition>
            <version>0.1.0</version>
            <!-- Notre module a besoin du module adminhtml -->
            <depends>
                <Mage_Adminhtml />
            </depends>
        </Calcul_Expedition>
    </modules>
    <global>
        <blocks>
            <!-- Surcharge vue backend visualisation commande -->
            <adminhtml>
                <rewrite>
                    <sales_order_view_info>Calcul_Expedition_Block_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>

            <!-- Surcharge vue frontend visualisation commande -->
            <sales>
                <rewrite>
                    <order_info>Calcul_Expedition_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
        </blocks>

        <models>
            <calcul_expedition>
                <class>Calcul_Expedition_Model</class>
                <resourceModel>calcul_expedition_resource</resourceModel>
            </calcul_expedition>
            <calcul_expedition_resource>
                <class>Calcul_Expedition_Model_Resource</class>
                <entities>
                    <expedition>
                        <table>calcul_expedition</table>
                    </expedition>
                </entities>
            </calcul_expedition_resource>
        </models>

        <helpers>
            <module>
                <class>Calcul_Expedition_Helper</class>
            </module>
        </helpers>

        <!-- Ajout de champs en BDD -->
        <resources>
            <calcul_expedition_setup>
                <setup>
                    <module>Calcul_Expedition</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </calcul_expedition_setup>
        </resources>

        <template>
            <email>
                <testmailer_template module="testmailer">
                    <file>testmailer.html</file>
                    <type>html</type>
                </testmailer_template>
            </email>
        </template>
    </global>

    <frontend>
        <routers>
            <routingexpedition>
                <!-- standard /// admin -->
                <use>standard</use>
                <args>
                    <module>Calcul_Expedition</module>
                    <!-- URL de base du module -->
                    <frontName>expedition</frontName>
                </args>
            </routingexpedition>
        </routers>
        <layout>
            <updates>
                <routingexpedition>
                    <file>routing_calcul_expedition.xml</file>
                </routingexpedition>
            </updates>
        </layout>
        <translate>
            <modules>
                <Calcul_Expedition>
                    <files>
                        <default>Calcul_Expedition.csv</default>
                    </files>
                </Calcul_Expedition>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <!--Définition des menus et sous menus-->
        <menu>
            <module translate="title">
                <title>Mon Menu Perso</title>
                <sort_order>80</sort_order>
                <children>
                    <!-- Formulaire de test -->
                    <formfront translate="title">
                        <title>Formulaire frontend test</title>
                        <children>
                            <formfrontform translate="title">
                                <title>Formulaire</title>
                                <action>expedition</action>
                            </formfrontform>
                            <formfrontconfirm translate="title">
                                <title>Confirmation</title>
                                <action>expedition/index/confirm</action>
                            </formfrontconfirm>
                        </children>
                    </formfront>

                    <expedfront>
                        <title>Voir date expe sur commande (frontend)</title>
                        <action>sales/order/view/order_id/1/</action>
                    </expedfront>

                    <expedprevues>
                        <title>Voir Expeditions prevues (frontend)</title>
                        <action>expedition/view</action>
                    </expedprevues>

                    <expedprevuesadm translate="title">
                        <title>Expeditions prévues (admin)</title>
                        <children>
                            <expedprevuesadmin>
                                <title>Voir Expeditions prevues</title>
                                <action>adminexpe/adminhtml_creatives/index</action>
                            </expedprevuesadmin>

                            <expedprevuesadmintoday>
                                <title>Voir Expeditions prevues aujourd'hui</title>
                                <action>adminexpe/adminhtml_creatives/today</action>
                            </expedprevuesadmintoday>

                            <expedprevuesadminyesterday>
                                <title>Voir Expeditions prevues hier</title>
                                <action>adminexpe/adminhtml_creatives/yesterday</action>
                            </expedprevuesadminyesterday>
                        </children>
                    </expedprevuesadm>

                </children>
            </module>
        </menu>

        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <order>
                                    <children>
                                        <calcul_expedition>
                                            <title>Gestion Expedition (MENU SPECIFIQUE BENOIT)</title>
                                            <sort_order>12</sort_order>
                                        </calcul_expedition>
                                    </children>
                                </order>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <adminexpe>
                    <file>routing_calcul_expedition_admin.xml</file>
                </adminexpe>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Calcul_Expedition before="Mage_Adminhtml">Calcul_Expedition_Adminhtml</Calcul_Expedition>
                    </modules>
                </args>
            </adminhtml>

            <adminexpe>
                <use>admin</use>
                <args>
                    <module>Calcul_Expedition</module>
                    <frontName>adminexpe</frontName>
                </args>
            </adminexpe>

        </routers>
    </admin>

</config>