<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Calcul_Expedition>
            <version>0.1.0</version>
        </Calcul_Expedition>
    </modules>
    <frontend>
        <routers>
            <marouteperso>
                <use>standard</use>
                <args>
                    <module>Calcul_Expedition</module>
                    <frontName>expedition</frontName>
                </args>
            </marouteperso>
        </routers>
        <layout>
            <updates>
                <marouteperso>
                    <file>calcul_expedition.xml</file>
                </marouteperso>
            </updates>
        </layout>
    </frontend>
</config>