<?xml version="1.0"?>
<config>
    <tabs>
        <menu_system_perso>
            <label>Menu System Perso</label>
            <sort_order>50</sort_order>
        </menu_system_perso>
    </tabs>
    <sections>
        <onglet_perso>
            <label>Onglet Perso</label>
            <tab>menu_system_perso</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </onglet_perso>
    </sections>
</config>